.tags {
  margin-top: 20px;
  .tag {
    background-color: #ff6060;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 20px;
    margin-right: 5px;
    font-weight: 600;
  }
}
