footer{
    background-color: black;
    height: 120px;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    img{
        width: 100px;
        margin: 15px 0;
        @media (max-width: 768px) {      
            width: 150px;
        }
    }
    @media (max-width: 768px) {      
      height: 200px;
    }
}